.container {
    padding: 50px;
    display: flex;
    align-content: center;
    width: 100vw;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
    border: 1px solid aqua;
    box-shadow: 5px 5px burlywood;
    text-align: center;
}

form {
    padding: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 8px;
    background-color: rgb(232, 232, 232);
}

div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 500px;
    

}
.input-text{
    border-radius: 15px;
}

button{
    align-self: center;
    height: 25px;
    width: 200px;
    border-radius: 15px;

}