/* .head{
    background-color: aqua;
}
.head{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 10px 40px;
    
}

ul{
    float: right;
    gap: 50px;
    display: flex;
    justify-content: space-between;
} */
/* .flex{
    justify-content: space-between;
} */

.nav{
    justify-content: space-between;
    padding: 25px 50px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 45px;
}